/* Common CSS Start */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Urbanist", sans-serif;
    font-weight: 400;
    font-size: 18px;
}
a{
    text-decoration: none;
    display: inline-block;
    color: inherit;
    cursor: pointer;
    text-transform: capitalize;
}
img{
    max-width: 100%;
    object-fit: cover;
}
ul, ol{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6, p, span{
    line-height: 100%;
}
@media (min-width: 1400px){
    .container{
        width: 1240px;
        margin: 0 auto;
        padding: 0;
    }
}
/* Common CSS End */

/* Navbar CSS Start */
#navbar{
    width: 100%;
    padding: 23px 0;
    filter: blur(4);
    background: rgba(255, 2555, 255, 0.20);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
}
.nav_wrapper{
    display: flex;
    align-items: center;
}
.logo{
    width: 20%;
}
.menu{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
}
.menu li a{ 
    font-weight: 500;
    color: #606D93;
    transition: color linear 0.3s;
}
.menu li a:hover{
    color: #192252;
}
.nav_btn{
    width: 20%;
    display: flex;
    justify-content: flex-end;
}
.nav_btn a{
    padding: 16px 40px;
    font-weight: bold;
    border-radius: 8px;
    background-color: #6345D5;
    color: white;
    transition: all linear 0.3s;
}
.nav_btn a:hover{
    background-color: #fff;
    color: #6345D5;
}
/* Navbar CSS End */

/* Banner CSS Start */
.shape1, .shape2, .shape3{
    position: relative;
}
.shape1 img{
    position: absolute;
    right: 0;
    top: 0;
}
.shape2 img{
    position: absolute;
    right: 0;
    top: 106px;
}
.shape3 img{
    position: absolute;
    left: 0;
    top: 170px;
}
.banner_wrapper{
    display: flex;
    gap: 91px;
    padding: 215px 0 660px;
}
.banner_desc{
    margin-top: 9px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    z-index: 999;
}
.banner_desc h2{
    font-size: 80px;
    font-weight: bold;
    width: 503px;
    color: #192252;
    line-height: 110%;
}
.banner_desc p{
    font-weight: 500;
    width: 312px;
    color: #848FAC;
    line-height: 150%;
}
.banner_btn{
    display: flex;
    align-items: center;
    gap: 25px;
}
.banner_btn a{
    font-weight: bold;
    border-radius: 8px;
    transition: all linear 0.3s;
}
.banner_btn a:first-child{
    padding: 20px 40px;
    background-color: #6245D5;
    color: #fff;
}
.banner_btn a:first-child:hover{
    background-color: transparent;
    color: #6245D5;
}
.banner_btn a:last-child{
    padding: 20px 53px;
    color: #192252;
}
.banner_btn a:last-child:hover{
    background-color: #6245D5;
    color: #fff;
}
.banner_img{
    position: relative;
    right: -41px;
    z-index: 999;
}
.banner_bottom_img_box{
    position: relative;
}
.banner_bottom_img{
    width: 100%;
    height: 882px;
    overflow: hidden;
    border-radius: 24px;
    position: absolute;
    bottom: -422px;
    z-index: 999;
    background: linear-gradient(rgba(0, 0, 0, 0.15)), url('../images//banner_big_image.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Banner CSS End */

/* Counter Section CSS Start */
#counter{
    padding: 522px 0 64px;
    background-color: #201353;
}
.counter_wrapper{
    padding: 48px 74.5px;
    border-radius: 24px;
    background-color: rgba(255, 2555, 255, 0.08);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.counter_item{
    display: flex;
    align-items: center;
    gap: 16px;
    position: relative;
}
.counter_item::after{
    position: absolute;
    content: '';
    width: 2px;
    height: 32px;
    background-color: rgba(255, 2555, 255, 0.20);
    top: 50%;
    right: -50px;
    transform: translateY( -50%);
}
.counter_item:last-child::after{
    background-color: transparent;
}
.counter_item .count_number{
    font-size: 48px;
    font-weight: bold;
    color: #fff;
}
.counter_item .count_text{
    font-size: 20px;
    font-weight: 500;
    color: rgba(255, 2555, 255, 0.64);
}

/* Counter Section CSS End */

/* Feature Section CSS Start */
#feature{
    padding-top: 100px;
    background-color: #201353;
}
.feature_heading{
    display: flex;
    gap: 171px;
}
.feature_heading h2{
    width: 514px;
    font-size: 52px;
    font-weight: 700;
    line-height: 120%;
    color: #fff;
}
.feature_heading p{
    width: 555px;
    font-size: 18px;
    font-weight: 500;
    line-height: 130%;
    color: rgba(255, 255, 255, 0.64);
    margin-top: 18px;
}
.feature_main{
    display: flex;
    justify-content: space-between;
    margin-top: 48px;
}
.feature_transactions{
    display: flex;
    gap: 24px;
    flex-direction: column;
    margin-bottom: 100px;
}
.feature_transactions .transaction{
    width: 368px;
    border-radius: 16px;
    padding: 24px;
    background-color: #fff;
}
.transaction .transaction_heading{
    display: flex;
    align-items: center;
    gap: 12px;
}
.transaction_heading h4{
    color: #192252;
    font-size: 18px;
    font-weight: 600;
    line-height: 150%;
    margin: 0;
    text-transform: capitalize;
}
.transaction > p{
    margin-top: 16px;
    color: #848FAC;
    font-size: 16px;
    line-height: 150%;
}
.transaction .progress{
    margin-top: 24px;
    background-color: #EFF3FA;
    position: relative;
    width: 320px;
    height: 4px;
    border-radius: 2px;
    overflow: hidden;
}
.transaction .progress::after{
    position: absolute;
    content: "";
    background-color: #6245D5;
    width: 50%;
    height: 4px;
    border-radius: 2px;
    left: 0;
    top: 0;
}
.feature_transactions .history{
    background-color: #201353;
    border: 1.5px solid #2C1A74;
    padding: 23px 24px;
}
.history_heading h4{
    color: #ffffff;
}
.history .skilition1{
    width: 307px;
    height: 16px;
    border-radius: 4px;
    background-color: #FFFFFF4D;
    margin-top: 20px;
}
.history .skilition2{
    width: 287px;
    height: 16px;
    border-radius: 4px;
    background-color: #FFFFFF4A;
    margin-top: 20px;
    margin: 10px 0 26px;
}
.history .skilition3{
    width: 320px;
    height: 4px;
    border-radius: 4px;
    background-color: #FFFFFF26;
}
.feature_img{
    width: 731px;
    position:  relative;
    right: -47px;
    bottom: 0px;
}
/* Feature Section CSS End */

/* Hassle Free Section CSS Start */
#hassle_free{
    padding: 132px 0 100px;
}
.hassle_free_wrapper{
    display: flex;
    align-items: center;
    gap: 126px;
}
.hassle_free_video{
    width: 600px;
    height: 600px;
    border-radius: 24px;
    overflow: hidden;
    position: relative;
    background: linear-gradient(rgba(0, 0, 0, 0.30)), url('../images//banner_big_image.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.hassle_free_video .play_svg{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}
.hassle_free_content{
    width: 514px;
}
.hassle_free_content h2{
    font-size: 52px;
    font-weight: 700;
    color: #192252;
}
.hassle_free_content p{
    width: 421px;
    font-size: 18px;
    font-weight: 500;
    line-height: 150%;
    color: #848FAC;
    margin: 24px 0 40px;
}
.hassle_free_list{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.hassle_free_list li{
    display: flex;
    align-items: center;
    column-gap: 29px;
}
.hassle_free_list li > span{
    font-size: 20px;
    font-weight: 600;
    color: #192252;
}
/* Hassle Free Section CSS End */

/* Company Section CSS Start */
#company{
    padding: 40px 0 82px;
}
.company_heading h4{
    font-size: 24px;
    font-weight: 500;
    line-height: 150%;
    color: #848FAC;
    margin-bottom: 32px;
    text-align: center;
}
.company_list{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}
.company_list .company_logo{
    width: 208px;
}
.company_logo > img{
    width: 50%;
}
/* Company Section CSS End */

/* Price Section CSS Start */
#price{
    padding: 100px 0;
}
.price_heading{
    text-align: center;
    margin: 0 auto;
    max-width: 800px;
}
.price_heading h2{
    font-size: 52px;
    font-weight: 700;
    color: #192252;
    text-transform: capitalize;
    margin-bottom: 24px;
}
.price_heading p{
    font-size: 18px;
    font-weight: 500;
    color: #848FAC;
}
.price_wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin-top: 64px;
}
.plan_list_boxes{
    width: 515px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.plan_list_box{
    padding: 24px;
    border: 1.5px solid #EFF3FA;
    border-radius: 16px;
    display: flex;
    align-items: center;
    gap: 24px;
    transition: all linear 0.3s;
    cursor: pointer;
}
.check_box input[type="radio"]{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 24px;
    height: 24px;
    border: 1.5px solid #848FAC;
    border-radius: 50%;
    position: relative;
    transition: all 0.2s ease;
}
.check_box input[type="radio"]:checked{
    background-color: #fff;
    border-color: #fff;
}
input[type="radio"]:checked::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  background-color: #6245D5;
  border-radius: 50%;
}
.plan_content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.plan_desc h4{
    font-size: 20px;
    font-weight: bold;
    color: #192252;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: color linear 0.3s;
}
.plan_desc h4 .price_save{
    padding: 4px 12px;
    display: inline-block;
    border-radius: 11px;
    background-color: #21965314;
    color: #219653;
    font-size: 12px;
    font-weight: 600;
    transition: all linear 0.3s;
}
.plan_desc p{
    font-size: 16px;
    font-weight: 500;
    color: #848FAC;
    max-width: 236px;
    margin: 0;
    line-height: 130%;
    transition: color linear 0.3s;
}
.plan_price .plan_price_amount{
    font-size: 32px;
    font-weight: 700;
    color: #192252;
    transition: color linear 0.3s;
    text-transform: uppercase;
}
.plan_price .plan_price_duration{
    font-size: 16px;
    font-weight: 500;
    color: #848FAC;
    transition: color linear 0.3s;
}
.plan_list_box:hover{
    background-color: #6245D5;
}
.plan_list_box:hover .plan_desc>h4, .plan_list_box:hover .plan_price_amount{
    color: #fff;
}
.plan_list_box:hover .plan_desc>p, .plan_list_box:hover .plan_price_duration{
    color: #FFFFFFA3;
}
.plan_list_box:hover .price_save{
    background-color: #FFFFFF14;
    color: #FFFFFFCC;
}
.plan_benefits{
    width: 525px;
    padding: 48px;
    padding-bottom: 68px;
    background-color: #F7F7F7;
    border-radius: 16px;
}
.plan_benefits_btn{
    padding: 4px;
    border-radius: 40px;
    background-color: #FFFFFF;
    width: fit-content;
    overflow: hidden;
    display: flex;
    align-items: center;
}
.plan_benefits_btn button{
    padding: 12px 16px;
    border-radius: 22px;
    border: none;
    font-size: 16px;
    font-weight: 600;
    color: #848FAC;
    background-color: transparent;
    transition: all linear 0.3s;
}
.plan_benefits_btn button:last-child{
    padding: 12.5px 22px;
    border-radius: 22px;
}
.plan_benefits_btn .active{
    background-color: #FC9770;
    color: #fff;
}
.plan_benefits_list{
    display: flex;
    flex-direction: column;
    gap: 52px;
    margin-top: 48px;
}
.plan_benefits_list li{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.plan_benefits_list li span{
    color: #192252;
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;
}
/* Price Section CSS End */

/* Review Section CSS Start */
#review{
    padding: 100px 0;
    background-color: #201353;
}
.review_wrapper{
    display: flex;
    align-items: center;
    gap: 151px;
}
.review_main{
    width: 489px;
}
.review_heading h2{
    font-size: 52px;
    font-weight: 700;
    color: #FFFFFF;
    line-height: 120%;
    max-width: 434px;
    margin-bottom: 24px;
    text-transform: capitalize;
}
.review_heading p{
    font-size: 18px;
    font-weight: 500;
    color: #FFFFFFA3;
    line-height: 150%;
    margin: 0;
}
.review_icon{
    margin: 64px 0 48px;
}
.review_details p{
    margin-bottom: 46px;
}
.review_details p, .review_details .reviewer_name{
    line-height: 150%;
    font-size: 20px;
    font-weight: 500;
    color: #FFFFFF;
}
.review_details .reviewer_name{
    color: #FFFFFFA3;
    display: inline-block;
    text-transform: capitalize;
}
.reviewer_images_main{
    margin-top: 48px;
    display: flex;
    align-items: center;
    gap: 24px;
}
.reviewer_imges{
    display: flex;
    align-items: center;
    gap: 24px;
}
.reviewer_img{
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-color: #D9D9D9;
}
.reviewer_img:nth-child(2){
    opacity: 75%;
}
.reviewer_img:nth-child(3){
    opacity: 50%;
}
.reviewer_img:last-child{
    opacity: 25%;
}
.reviewer_img img{
    height: 100%;
}
.next_button{
    width: 64px;
    height: 64px;
    border: 1.5px solid #FFFFFFA3;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.contact_form_main{
    width: 600px;
    padding: 64px 80px;
    background-color: #FFFFFF1F;
    border-radius: 24px;
    margin: 0 auto; 
}
.contact_form_heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-bottom: 48px;
}
.contact_form_heading_logo{
    width: 68px;
}
.contact_form_heading h4{
    font-size: 24px;
    font-weight: 700;
    color: #FFFFFF;
    text-transform: capitalize;
}
.input_group{
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    margin-bottom: 24px;
}
.input_group label{
    font-size: 18px;
    font-weight: 600;
    line-height: 150%;
    color: #FFFFFF;
}
.input_group input, .input_group textarea{
    width: 100%;
    padding: 14px 24px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 400;
    color: #848FAC;
    outline: none;
    border: none;
}
.input_group textarea{
    height: 84px;
}
.contact_form .submit_btn{
    display: inline-block;
    border: none;
    cursor: pointer;
    width: 100%;
    background-color: #FC9770;
    border-radius: 8px;
    padding: 20px;
    font-size: 18px;
    font-weight: 700;
    color: #FFFFFF;
    letter-spacing: 0.2;
    margin-top: 16px;
    margin-bottom: 24px;
}
.contact_form a{
    display: block;
    font-size: 14px;
    font-weight: 600;
    color: #FFFFFF;
    line-height: 150%;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 8px;
    cursor: pointer;
}
.contact_form a > span{
    font-weight: 400;
    color: #FFFFFFA3;
}
/* Review Section CSS End */